<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Found a message in a bottle...'})%> 
<body>
    <p><%= message.content%></p>
    <% for (let comment in message.comments) { %>
        <p><%= message.comments[comment].addition %></p><br>
        <% } %>
    <div><% if (message.comments.length == 0 ) { %>
        <a href="/messages/<%= message._id %>/edit"><span>Edit</span></a>
        <% } %>
        <a href="/comments/new/<%= message._id %>"><span>Comment</span></a>
        <form method="POST"  action="/messages/<%= message._id %>?_method=DELETE">
            <span><input type="submit" value="Delete" class="button"></span>
        </form>
    </div>
    <a href="/"><p>Back</p></a>

</body>
</html>